

.bg-theme-light {
  background-color: #E3FDFD;
}

.bg-theme-border {
  background-color: #CBF1F5;
}

.border-theme-input {
  border-color: #A6E3E9;
}

.text-theme-primary {
  color: #71C9CE;
}

.hover\:text-theme-primary:hover {
  color: #71C9CE;
}
