<footer class="footer bg-theme-border text-gray-800 ">
  <div class="max-w-7xl mx-auto px-6 py-8 grid grid-cols-1 md:grid-cols-12 gap-6">
    
    <!-- About -->
    <div class="md:col-span-5">
      <h2 class="text-lg font-semibold mb-3">ShopEasy</h2>
      <p class="text-sm">
        Your go-to destination for everything from fashion to electronics. We bring quality at your doorstep.
      </p>
    </div>

    <!-- REST -->
    <div class="md:col-span-7 flex flex-col sm:flex-row gap-6">
      <!-- Customer Service -->
      <div class="flex-1">
        <h3 class="text-md font-semibold mb-2">Help</h3>
        <ul class="text-sm space-y-1 hover:cursor-pointer">
          <li><a  class="hover:text-theme-primary">Contact Us</a></li>
          <li><a  class="hover:text-theme-primary">Shipping</a></li>
          <li><a  class="hover:text-theme-primary">Returns</a></li>
          <li><a  class="hover:text-theme-primary">FAQs</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="flex-1">
        <h3 class="text-md font-semibold mb-2">Follow Us</h3>
        <ul class="text-sm space-y-1  hover:cursor-pointer">
          <li><a  class="hover:text-theme-primary">Instagram</a></li>
          <li><a  class="hover:text-theme-primary">Facebook</a></li>
          <li><a  class="hover:text-theme-primary">Twitter</a></li>
          <li><a  class="hover:text-theme-primary">LinkedIn</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="text-center py-4 text-sm bg-theme-light border-t border-theme-input">
    © 2025 ShopEasy. All rights reserved.
  </div>
</footer>
